{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formation Full stack</title>
    <link rel="stylesheet" href="{% static 'css/css-acc.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/css-part1.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/tarif_app_w_m.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/css_inscription.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>


    <!--
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css-acc.css">
    <link rel="stylesheet" href="./assets/tarif_app_w_m.css">
    <link rel="stylesheet" href="assets/css_inscription.css">
    <link rel="stylesheet" href="./assets/css-part.css">
    -->

    <style>
        .sticky-element {
          position: sticky;
          top: 50px; /* Hauteur de l'élément sticky par rapport au haut */
          z-index: 100; /* Assure la superposition sur d'autres éléments */
          background-color: white; /* Style d'arrière-plan */
          padding: 10px; /* Espace intérieur pour le contenu */
        }
      </style>

</head>
<body class="cont_app_w_m">

    <section class="pre-h d-lg-flex d-none justify-content-between p-2 ">
        <div class="d-flex">
            <div style="margin-right: 10px;"><img src="{% static 'public/ellipse-80@2x.png' %}" alt="tel">237 695607089</div>
            <div style="margin-right: 10px;"><img class="m-r-1" src="{% static 'public/ellipse-81@2x.png' %}" alt="mail"> info@fulife-consulting.cm</div>
            <div style="margin-right: 10px;"><img class="m-r-1" src="{% static 'public/ellipse-82@2x.png' %}" alt=""> Ouverture : Lun-Sam : 8h30-19h30</div>
        </div>
        <div class="d-flex">
            <img class="m-1" src="{% static 'public/ellipse-12@2x.png' %}" alt="facebook">
            <img class="m-1" src="{% static 'public/ellipse-13@2x.png' %}" alt="twitter">
            <img class="m-1" src="{% static 'public/ellipse-14@2x.png' %}" alt="instagram">
            <img class="m-1" src="{% static 'public/ellipse-15@2x.png' %}" alt="youtube">
            <img  class="m-1" src="{% static 'public/ellipse-16@2x.png' %}" alt="linkln">
            <img class="m-1" src="{% static 'public/ellipse-17@2x.png' %}" alt="whatsapp">
            <img class="m-1" src="{% static 'public/ellipse-18@2x.png' %}" alt="chat">
        </div>
    </section>

    <section class="d-block " style="position: relative;">
        <div class="h-top2 container">
            <div class=" head row">
                <div class="col-5 head-l">
                    <a href="{% url 'acceuil' %}">
                    <img src="{% static 'public/ellipse-11@2x.png' %}" class="img-fluid rounded-top" alt="logo">
                    </a>
                </div>
                <div class="col-7 head-r d-flex justify-content-between align-items-center ">
                    <div class="d-xl-none" ></div>
                    <button class="btn btn-primary d-xl-none ml-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Menus</button>
                    <div class="menu d-xl-block d-none">
                        <a class="link" href="{% url 'acceuil' %}">Accueil</a>
                        <a class="link" href="{% url 'a-propos' %}">A propos</a>
                        <a class="link" href="">Service</a>
                        <a class="link" href="{% url 'realisation' %}">Realisation</a>
                        <a class="link" href="{% url 'contact' %}">Contact</a>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section>
        <div class="container m-5 bg-primary-subtle p-5">
            <div class="d-flex mb-3 ">
                <img class="me-3" style="width: 100px;" src="{% static 'public/ellipse-11@2x.png' %}" alt="">
                <div>
                    <h2>Formateur <br> Fulife Consulting</h2>
                </div>
            </div>

            <h3>Formation Développement web Full Stack <br> </h3>
            <p class="display-6">3 mois</p>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <h2 class="mb-4">
                        La Formation de Développeur Web Fullstack à Fulife Consulting
                    </h2>

                    <h4 class="mb-5">
                        Le métier de développeur web est hautement demandé en ce moment, ce qui offre une opportunité intéressante pour ceux qui envisagent une reconversion professionnelle vers ce domaine.                    <!-- <h2 class="my-4">Au fait, c´est quoi Flutter?</h2>-->
                    <br>
                        <h5 class="mb-5">
                        La formation proposée par LocalHost Academy vous permettra d'acquérir les compétences nécessaires pour maîtriser les principaux langages de programmation web, les outils et méthodes utilisés dans la création d'applications concrètes. Vous serez ainsi en mesure de répondre aux besoins de vos clients en assurant la création, la modification et l'assistance d'applications web, ainsi que la gestion de contenus et les requêtes de base de données. Cette formation vise à former des développeurs web fullstack, capables de travailler à la fois sur l'interface utilisateur (front-end) et le côté serveur (back-end) d'une application web.
                        </h5>
                        <br>
                        <!--
                     <h4 class="mb-5">
                        En 2018, Google a lancé un nouveau cadre de travail qui a été largement adopté dans l'écosystème mobile. Flutter permet de concevoir des applications mobiles natives pour les systèmes d'exploitation Android et iOS, et il est sur le point de prendre en charge la création d'applications de bureau également.<br><br>
                     Flutter est pratique pour concevoir des applications pour diverses plateformes, notamment mobiles, tablettes, téléviseurs et ordinateurs de bureau. Grâce à l'utilisation du langage de programmation Dart, qui est similaire à JavaScript, TypeScript ou Java, il est facile de compiler le code en langage machine ARM.
                     </h4>
                     -->
                    <h2 class="mb-4">
                        Inscrivez-vous à notre formation de développement web de 4 mois et apprenez les 5 langages les plus demandés par les recruteurs : HTML, CSS, JavaScript, SQL et PHP.
                    </h2>
                     <h4 class="mb-5">
                        Vous commencez par la conversion de maquettes en code. Cela implique de transformer une conception graphique en un site web fonctionnel. En utilisant des balises, du CSS 3 et en ajoutant du contenu audio et vidéo, vous apprenez à créer un site web qui est optimisé pour toutes les tailles d'écran, y compris les appareils mobiles. En somme, vous acquérez les compétences nécessaires pour construire un site web dynamique et adaptatif.
                     </h4>
                        <h5 class="mb-5">
                            Ensuite, il sera approprié de se mettre à la programmation en JavaScript afin de donner de l'interactivité à vos sites web et d'exploiter les bases de données SQL où sont conservées les informations entrées par les utilisateurs. Vous serez initié à la manipulation de variables, de tableaux de données, à la regroupement de fonctions en bibliothèques et à la création de classes.
                        </h5>
                <!--
                     <h4 class="mb-4">
                         <ul>
                             <li><a href="https://news.microsoft.com/" target="_blank">Microsoft</a></li>
                             <li><a href="http://www.bbcamerica.com/" target="_blank">BBCamerica</a></li>
                             <li><a href="https://blogs.skype.com/" target="_blank">Blog Skype</a></li>
                             <li><a href="https://www.thewaltdisneycompany.com/" target="_blank">THE WALT DISNEY COMPANY</a></li>
                             <li><a href="https://newsroom.fb.com/" target="_blank">META</a></li>
                         </ul>
                     </h4>

                     <h4 class="mb-5">
                         Cette formation vous enseignera comment utiliser WordPress, un système de gestion de contenu puissant, pour créer des sites web professionnels qui répondent aux normes internationales.
                     </h4>

                     <h2 class="my-4">Objectifs pédagogiques de la formation WordPress</h2>
                     <h4 class="mb-5">
                        <ul>
                            <li> Concevoir et publier un site web pour une entreprise en utilisant WordPress.</li>
                            <li>Créer et mettre en ligne un site web pour une boutique en ligne en utilisant WordPress.</li>
                            <li>Maîtriser la conception de pages web en utilisant Elementor.</li>
                            <li>Maîtriser la conception de pages web en utilisant Elementor.</li>
                            <li>Adapter les fonctions et l'apparence d'un site WordPress à ses besoins.</li>
                            <li>Optimiser le référencement d'un site WordPress sur les moteurs de recherche tels que Google ou Bing.</li>
                            <li> Créer des supports de communication de qualité</li>
                            <li> Assurer la maintenance et la sécurité optimale d'un site professionnel.
                            </li>
                        </ul>
                     </h4>
                    -->
                    <h2 class="mb-4">
                        Encadrement et Mentorat durant votre Apprentissage en Programmation Web chez Fulife Consulting.
                    </h2>

                     <h4 class="mb-5">
                        Notre programme de formation est extrêmement exigeant. Pendant la formation, notre formateur vous accompagne lors de séances de groupe et de suivi individuel.
                     </h4>

                     <h5 class="mb-5">
                        Les sessions de formation en groupe offrent l'opportunité d'acquérir des compétences individuelles en tirant parti des aptitudes de chacun, surmonter les obstacles et maintenir la motivation pendant les périodes intenses. Les entretiens individuels réguliers permettent de discuter de votre expérience de la formation (intégration, niveau d'autonomie, progression, etc.) et d'évaluer vos accomplissements et votre développement de compétences
                     </h5>

                     <h2 class="my-4">CONSTITUTION DU DOSSIER D´ADMISSION</h2>
                     <h4 class="mb-5">
                        <ul>
                            <li>Photocopie du Dernier diplome</li>
                            <li>
                                Photocopie de la CNI</li>
                            <li>formulaire d´inscription rempli</li>
                        </ul>
                     </h4>


                </div>
                <div class="col-lg-3 position-relative">
                    <div class="sticky-element p-3 bg-primary-subtle">
                        <img width="100%" src="{% static 'public/rectangle-62@23x.png' %}" alt="">
                        <div class="my-3 d-flex justify-content-center"> <button class="btn btn-primary btn-lg">S'inscrire</button></div>
                        <div class="d-flex my-3 ">
                            <img width="50" class="me-2" src="{% static 'public/ellipse-48@2x.png' %}" alt=""><img class="me-2" src="{% static 'public/star-5.svg' %}" alt=""><img class="me-2" src="{% static 'public/star-5.svg' %}" alt=""><img class="me-2" src="{% static 'public/star-5.svg' %}" alt=""><img class="me-2" src="{% static 'public/star-5.svg' %}" alt=""><img class="me-2" src="{% static 'public/star-5.svg' %}" alt="">
                        </div>
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                      </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer mt-5" style="background-color: #b1ecf5!important;padding: 0;margin: 0;">

        <div class="container" style="z-index: 2;">
            <div class="row">
                <div class="col-lg-4 col-md-6 mt-4">
                    <h2 class="reveal text-center mb-4 text-light">
                        A propos de nous
                    </h2>
                    <h5>
                        Fulife Consulting Sarl est une société de conseil et d’ingenieire informatique. Notre approche est d’être plus proche de nos clients, leur apporter toute notre expertise, notre savoir , notre savoir faire et notre savoir être pour répondre aux besoins de ces dernniers.
                    </h5>
                        <a href="{% url 'acceuil' %}">
                        <img src="{% static 'public/ellipse-11@2x.png' %}" alt="logo">
                        </a>
                </div>

                <div class="col-lg-4 col-md-6 mt-4">
                    <h2 class="text-center text-light mb-4">
                        Services
                    </h2>

                    <div>
                        <a href="{% url 'dev-web-mobile' %}" class="link-f">Developpement Web et Mobile</a>
                        <a href="{% url 'reseau&administrtion' %}" class="link-f">Reseau Informatique</a>
                        <a href="" class="link-f">Administration systeme</a>
                        <a href="" class="link-f">Hebergement Web</a>
                        <a href="" class="link-f">Marketing Digitale</a>
                        <a href="" class="link-f">Conseils et formation</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4">
                    <h3 class="text-center mb-4">

                    </h3>
                    <p style="font-size: 1.3rem;">Addresse: Rue Bebey Elame, Akwa. Douala</p>
                    <p style="font-size: 1.3rem;">Phone: (+237) 676 69 59 77 / 694 00 36 07</p>
                    <p style="font-size: 1.3rem;">Email: info@fulife-consulting.cm</p>
                    <div class="d-flex justify-content-center">
                        <div class="d-flex flex-wrap logo-ft">
                            <img src="{% static 'public/ellipse-12@2x.png' %}" alt="facebook">
                            <img src="{% static 'public/ellipse-13@2x.png' %}" alt="twitter">
                            <img src="{% static 'public/ellipse-14@2x.png' %}" alt="instagram">
                            <img src="{% static 'public/ellipse-15@2x.png' %}" alt="youtube">
                            <img src="{% static 'public/ellipse-16@2x.png' %}" alt="link">
                            <img src="{% static 'public/ellipse-17@2x.png' %}" alt="instagram">
                            <img src="{% static 'public/ellipse-18@2x.png' %}" alt="chat">
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <section class="py-3">
        <div class="container text-center">
            Copyright © Fulife Consulting Sarl 2020 - All Right Reserved. Designed and Developed by Fulife Consulting Sarl
        </div>
    </section>

    <!-- menu responsive -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
          <h5 id="offcanvasRightLabel">Menus</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">

            <div class="phone-cont mt-5">
                <a class="link-men" href="">Accueil</a>
                <a class="link-men" href="">A propos</a>
                <a class="link-men" href="">Service</a>
                <a class="link-men" href="">Realisation</a>
                <a class="link-men" href="">Contact</a>
            </div>


        </div>
    </div>
   <!-- script -->
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/reveal.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/reveal-custom.js' %}"></script>


    <!--
   <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

   <script src="./assets/bootstrap/js/scrollreveal.min.js"></script>
   <script src="./assets/bootstrap/js/reveal-custom.js"></script>
   <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
   <script src="./assets/bootstrap/js/bootstrap.bundle.min.js"></script>
   -->

</body>
</html>