{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hebergement home</title>
    <link rel="stylesheet" href="{% static 'css/css-acc.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/css-part1.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/css-heb-home.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/tarif_app_w_m.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/css-contact.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>

    <!--
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css-cont-ag.css">
    <link rel="stylesheet" href="./assets/css-contact.css">
    <link rel="stylesheet" href="./assets/css-heb-home.css">
    <link rel="stylesheet" href="./assets/css-part.css">
    <link rel="stylesheet" href="./assets/app_w_m.css">
    -->
   

</head>
<body>

    <section class="pre-h d-lg-flex d-none justify-content-between p-2 ">
        <div class="d-flex">
            <div style="margin-right: 10px;"><img class="m-r-1" src="{% static 'public/ellipse-80@2x.png' %}" alt="tel">237 695607089</div>
            <div style="margin-right: 10px;"><img class="m-r-1" src="{% static 'public/ellipse-81@2x.png' %}" alt="mail"> info@fulife-consulting.cm</div>
            <div style="margin-right: 10px;"><img class="m-r-1" src="{% static 'public/ellipse-82@2x.png' %}" alt=""> Ouverture : Lun-Sam : 8h30-19h30</div>
        </div>
        <div class="d-flex">
            <img class="m-1" src="{% static 'public/ellipse-12@2x.png' %}" alt="facebook">
            <img class="m-1" src="{% static 'public/ellipse-13@2x.png' %}" alt="twitter">
            <img class="m-1" src="{% static 'public/ellipse-14@2x.png' %}" alt="instagram">
            <img class="m-1" src="{% static 'public/ellipse-15@2x.png' %}" alt="youtube">
            <img  class="m-1" src="{% static 'public/ellipse-16@2x.png' %}" alt="linkln">
            <img class="m-1" src="{% static 'public/ellipse-17@2x.png' %}" alt="whatsapp">
            <img class="m-1" src="{% static 'public/ellipse-18@2x.png' %}" alt="chat">
        </div>
    </section>

    <section class="d-block " style="position: relative;">
        <div class="h-top container">
            <div class=" head row">
                <div class="col-5 head-l">
                    <a href="{% url 'acceuil' %}">
                    <img src="{% static 'public/ellipse-11@2x.png' %}" class="img-fluid rounded-top" alt="logo">
                    </a>
                </div>
                <div class="col-7 head-r d-flex justify-content-between align-items-center ">
                    <div class="d-xl-none" ></div>
                    <button class="btn btn-primary d-xl-none ml-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Menus</button>
                    <div class="menu d-xl-block d-none">
                        <a class="link" href="{% url 'acceuil' %}">Accueil</a>
                        <a class="link" href="{% url 'a-propos' %}">A propos</a>
                        <a class="link" href="">Service</a>
                        <a class="link" href="{% url 'realisation' %}">Realisation</a>
                        <a class="link" href="{% url 'contact' %}">Contact</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img style="height: 70vh;" src="{% static 'public/slide/rectangle-120@2x.png' %}" class="d-block w-100" alt="slide1">
              </div>
              <div class="carousel-item">
                <img style="height: 70vh;" src="{% static 'public/slide/rectangle-146@2x.png' %}" class="d-block w-100" alt="slide2">
              </div>
              <div class="carousel-item">
                <img style="height: 70vh;" src="{% static 'public/slide/rectangle-146@2x.png' %}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section>

    

    <section class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                   <div>
                        <img style="width: 100%;" src="{% static 'public/rectangle-65@2x.png' %}" alt="">
                   </div>
                </div>
                <div class="col-lg-7">
                    <h2>
                        HÉBERGEMENT WEB PERFORMANT AU CAMEROUN
                    </h2>
                    <h4>
                        Fulife offre tout un pack complet de services en hébergement web (nom de domaine, emails professionnels, espace d’hébergement) depuis Douala au Cameroun. Avec des serveurs web de dernière génération équipé des meilleures technologies matérielles et logicielles, nous assurons la sécurité et la performance de vos sites, application web et emails professionnels. Plus de 300 scripts installables en 1 clic(WordPress, Joomla, prestashop, etc), cpanel moderne, SSH/SFTP, PHP7, Apache et bien d’autres fonctionnalités sont au rendez-vous pour accueillir vos sites internet. Numerix est un hébergeur à l’écoute, compétitif et fiable sur le long terme pour vos projets Web.
                    </h4>

                
                </div>
            </div>
        </div>
    </section>


    <section class="tarif_home">
        <!-- le background  est dans le css css-heb-home -->
        <div style="padding: 70px 0;" class="container">
            <h1 class="text-light text-center">
                NOS OFFRES D’HÉBERGEMENT DE SITE WEB AU CAMEROUN
            </h1>
            

            <div class="row justify-content-around">
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-light">
                                Pack Économique
                            </h2>
                        </div>
                        <div class="card-body">
                            <h6 class="text-light">
                                30.000 FCFA <br> <br>

 

                                Espace disque : 25GB <br> <br>
                                
                                 
                                
                                Bande passante : illimitée <br> <br>
                                
                                 
                                
                                Nom de domaine gratuit pour 1 an <br> <br>
                                
                                 
                                
                                Nombre d´adresse émail : 40 <br> <br>
                                
                                 
                                
                                Nombre de site : 1 <br> <br>
                                
                                 
                                
                                Certificat SSL : ✅ <br> <br>
                                
                                 
                                
                                site Backup : ✅ <br> 
                                
                                 Gestionnaire de fichier : ✅ <br> 
                                
                                 Un click install CMS : ✅ <br> 
                                
                                 Séclecteur de version de php : 👍 <br> 
                                
                                 
                                
                                Assistance : ✅ <br> <br>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-light">
                                Pack Professionnel
                            </h2>
                        </div>
                        <div class="card-body">
                            <h6 class="text-light">
                                30.000 FCFA <br> <br>

 

                                Espace disque : 25GB <br> <br>
                                
                                 
                                
                                Bande passante : illimitée <br> <br>
                                
                                 
                                
                                Nom de domaine gratuit pour 1 an <br> <br>
                                
                                 
                                
                                Nombre d´adresse émail : 40 <br> <br>
                                
                                 
                                
                                Nombre de site : 1 <br> <br>
                                
                                 
                                
                                Certificat SSL : ✅ <br> <br>
                                
                                 
                                
                                site Backup : ✅ <br> 
                                
                                 Gestionnaire de fichier : ✅ <br> 
                                
                                 Un click install CMS : ✅ <br> 
                                
                                 Séclecteur de version de php : 👍 <br> 
                                
                                 
                                
                                Assistance : ✅ <br> <br>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-light">
                                Pack Premiun
                            </h2>
                        </div>
                        <div class="card-body">
                            <h6 class="text-light">
                                30.000 FCFA <br> <br>

 

                                Espace disque : 25GB <br> <br>
                                
                                 
                                
                                Bande passante : illimitée <br> <br>
                                
                                 
                                
                                Nom de domaine gratuit pour 1 an <br> <br>
                                
                                 
                                
                                Nombre d´adresse émail : 40 <br> <br>
                                
                                 
                                
                                Nombre de site : 1 <br> <br>
                                
                                 
                                
                                Certificat SSL : ✅ <br> <br>
                                
                                 
                                
                                site Backup : ✅ <br> 
                                
                                 Gestionnaire de fichier : ✅ <br> 
                                
                                 Un click install CMS : ✅ <br> 
                                
                                 Séclecteur de version de php : 👍 <br> 
                                
                                 
                                
                                Assistance : ✅ <br> <br>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section>
        <div class="container my-5 py-5">
            <div class="row">
                <div class="col-lg-6">
                    <h2>
                        Nous construisons notre entreprise pour votre réussite.
                    </h2>
                    <h4>
                        Que vous ayez besoin d'un simple blog, que vous souhaitiez mettre en valeur votre entreprise, vendre des produits via un site Web de commerce électronique ou que vous ayez besoin d'une machine puissante au niveau de l'entreprise pour une application personnalisée, nous avons une option pour vous.
<br>
De plus en plus de clients passent à Fulife Consulting pour profiter de notre hébergement ultra-rapide et de notre support de haute qualité à des prix abordables.
                    </h4>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                        <div class="me-5">
                            <img style="width: 150px;" src="{% static 'public/ellipse-49@2x.png' %}" alt="">
                        </div>
                        <div>
                            <h4>Hébergement partagé</h4>
                            <h5>Le plan d'hébergement le plus populaire disponible et à l'un des prix les plus abordables.</h5>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="me-5">
                            <img style="width: 150px;" src="{% static 'public/ellipse-51@2x.png' %}" alt="">
                        </div>
                        <div class="">
                            <h4>Hébergement partagé</h4>
                            <h5>Le plan d'hébergement le plus populaire disponible et à l'un des prix les plus abordables.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container my-5 py-5">
            <h2 class="text-center">
                La meilleure Agence web pour l´hebergement de votre site web
            </h2>
            <div class="row">
                <div class="col-lg-6 py-4">
                    <h3 class="mb-4">
                        <span class="text-primary">Créez </span> Votre Site
                    </h3>
                    <div class="d-flex align-items-center mb-3">
                        <div class="me-5">
                            <img style="width: 150px;" src="{% static 'public/ellipse-53@2x.png' %}" alt="">
                        </div>
                        <div>
                            <h4>Nom de domaine gratuit</h4>
                            <h5>Le plan d'hébergement le plus populaire disponible et à l'un des prix les plus abordables.</h5>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <div class="me-5">
                            <img style="width: 150px;" src="{% static 'public/ellipse-54@2x.png' %}" alt="">
                        </div>
                        <div>
                            <h4>Hébergement partagé</h4>
                            <h5>Le plan d'hébergement le plus populaire disponible et à l'un des prix les plus abordables.</h5>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <div class="me-5">
                            <img style="width: 150px;" src="{% static 'public/ellipse-55@2x.png' %}" alt="">
                        </div>
                        <div>
                            <h4>Hébergement partagé</h4>
                            <h5>Le plan d'hébergement le plus populaire disponible et à l'un des prix les plus abordables.</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 py-4">
                    <h3 class="mb-4">
                        <span class="text-primary">Proteger </span> Votre Site
                    </h3>
                    <div class="d-flex align-items-center mb-3">
                        <div class="me-5">
                            <img style="width: 150px;" src="{% static 'public/ellipse-53@2x.png' %}" alt="">
                        </div>
                        <div>
                            <h4>Nom de domaine gratuit</h4>
                            <h5>Le plan d'hébergement le plus populaire disponible et à l'un des prix les plus abordables.</h5>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <div class="me-5">
                            <img style="width: 150px;" src="{% static 'public/ellipse-102@2x.png' %}" alt="">
                        </div>
                        <div>
                            <h4>Hébergement partagé</h4>
                            <h5>Le plan d'hébergement le plus populaire disponible et à l'un des prix les plus abordables.</h5>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <div class="me-5">
                            <img style="width: 150px;" src="{% static 'public/ellipse-56@2x.png' %}" alt="">
                        </div>
                        <div>
                            <h4>Hébergement partagé</h4>
                            <h5>Le plan d'hébergement le plus populaire disponible et à l'un des prix les plus abordables.</h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <section class="rnf my-5 py-5">
        <!-- background dans le css  -->
        <div class="container">
            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6">
                    <h2>
                        Rejoignez-nous facilement ! <br><br>
                        Transferez votre site chez nous pour votre Hebergement.
                    </h2>

                    <h4 class="my-4">
                        Votre hébergeur actuel n’apporte pas de support technique ? Les coupures deviennent trop récurrentes ? Votre site n’est pas stable ? Vous n’êtes plus satisfait de votre hébergeur ? Il est temps de transférer votre nom de domaine et/ou votre site web vers 007 Hébergement et sans effort !
                    </h4>
                </div>
            </div>
        </div>
    </section>
    <section class="my-5 py-5">
        <div class="container">
            <h2 class="mb-3 text-center">Les garanties à heberger chez Fulife</h2>
            <h4 class="mb-5 text-center">Héberger un site web chez Fulife sans risque. Nous vous garantissons le meilleur hébergement web, les meilleures performances pour votre projet web avec nos offres de services tout compris et de qualité.</h4>
            <div class="row justify-content-around">
                <div class="reveal-l2 col-lg-5 col-9">
                    <div class="d-flex justify-content-center"><img style="width: 200px;" src="{% static 'public/ellipse-57@2x.png' %}" alt=""></div>
                    <div>
                        <h3 class="text-center mb-3">Sactifait ou remboursé comme notre slogan</h3>
                        <h4 class="text-center">Découvrez, testez la haute performance de nos offres pendant 30 jours, c’est 100% satisfait ou remboursé !</h4>
                    </div>
                </div>
                <div class="reveal-r2 col-lg-5 col-9">
                    <div class="d-flex justify-content-center"><img style="width: 200px;" src="{% static 'public/ellipse-58@2x.png' %}" alt=""></div>
                    <div>
                        <h3 class="text-center mb-3">Sactifait ou remboursé comme notre slogan</h3>
                        <h4 class="text-center">Des questions ou besoin d’aide ? Notre équipe de techniciens est à votre écoute 7 jours sur 7 pour vous accompagner.</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

   

  

    
    
    <section class="footer mt-5" style="background-color: #b1ecf5!important;padding: 0;margin: 0;">
        
        <div class="container" style="z-index: 2;">
            <div class="row">
                <div class="col-lg-4 col-md-6 mt-4">
                    <h2 class="reveal text-center mb-4 text-light">
                        A propos de nous
                    </h2>
                    <h5>
                        Fulife Consulting Sarl est une société de conseil et d’ingenieire informatique. Notre approche est d’être plus proche de nos clients, leur apporter toute notre expertise, notre savoir , notre savoir faire et notre savoir être pour répondre aux besoins de ces dernniers.
                    </h5>
                    <div class="d-flex justify-content-center" style="width: 100%;">
                        <a href="{% url 'acceuil' %}">
                        <img src="{% static 'public/ellipse-11@2x.png' %}" alt="logo">
                        </a>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 mt-4">
                    <h2 class="text-center text-light mb-4">
                        Services
                    </h2>

                    <div>
                        <a href="{% url 'dev-web-mobile' %}" class="link-f">Developpement Web et Mobile</a>
                        <a href="{% url 'reseau&administrtion' %}" class="link-f">Reseau Informatique</a>
                        <a href="{% url 'hebergement' %}" class="link-f">Administration systeme</a>
                        <a href="" class="link-f">Hebergement Web</a>
                        <a href="" class="link-f">Marketing Digitale</a>
                        <a href="" class="link-f">Conseils et formation</a>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 mt-4">
                    <h3 class="text-center mb-4">
                        
                    </h3>
                    <p style="font-size: 1.3rem;">Addresse: Rue Bebey Elame, Akwa. Douala</p>
                    <p style="font-size: 1.3rem;">Phone: (+237) 676 69 59 77 / 694 00 36 07</p>
                    <p style="font-size: 1.3rem;">Email: info@fulife-consulting.cm</p>
                    <div class="d-flex justify-content-center">
                        <div class="d-flex flex-wrap logo-ft"> 
                            <img src="{% static 'public/ellipse-12@2x.png' %}" alt="facebook">
                            <img src="{% static 'public/ellipse-13@2x.png' %}" alt="twitter">
                            <img src="{% static 'public/ellipse-14@2x.png' %}" alt="instagram">
                            <img src="{% static 'public/ellipse-15@2x.png' %}" alt="youtube">
                            <img src="{% static 'public/ellipse-16@2x.png' %}" alt="link">
                            <img src="{% static 'public/ellipse-17@2x.png' %}" alt="instagram">
                            <img src="{% static 'public/ellipse-18@2x.png' %}" alt="chat">
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </section>
    <section class="py-3">
        <div class="container text-center">
            Copyright © Fulife Consulting Sarl 2020 - All Right Reserved. Designed and Developed by Fulife Consulting Sarl
        </div>
    </section>

    <!-- menu responsive -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
          <h5 id="offcanvasRightLabel">Menus</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
           
            <div class="phone-cont mt-5">
                <a class="link-men" href="">Accueil</a>
                <a class="link-men" href="">A propos</a>
                <a class="link-men" href="">Service</a>
                <a class="link-men" href="">Realisation</a>
                <a class="link-men" href="">Contact</a>
            </div>
            
              
        </div>
    </div>
   <!-- script -->
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/reveal.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/reveal-custom.js' %}"></script>


  <!--
   <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

   <script src="./assets/bootstrap/js/scrollreveal.min.js"></script>
   <script src="./assets/bootstrap/js/reveal-custom.js"></script>
   <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
   <script src="./assets/bootstrap/js/bootstrap.bundle.min.js"></script>
   -->
   
    
</body>
</html>