{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>

    <link rel="stylesheet" href="{% static 'css/css-acc.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/css-part.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/tarif_app_w_m.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/css_inscription.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>

  <!--
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css-acc.css">
    <link rel="stylesheet" href="./assets/tarif_app_w_m.css">
    <link rel="stylesheet" href="assets/css_inscription.css">
    <link rel="stylesheet" href="./assets/css-part.css">

    -->


</head>
<body class="cont_app_w_m">

    <section class="pre-h d-lg-flex d-none justify-content-between p-2 ">
        <div class="d-flex">
            <div style="margin-right: 10px;"><img src="{% static 'public/ellipse-80@2x.png' %}" alt="tel">237 695607089</div>
            <div style="margin-right: 10px;"><img class="m-r-1" src="{% static 'public/ellipse-81@2x.png' %}" alt="mail"> info@fulife-consulting.cm</div>
            <div style="margin-right: 10px;"><img class="m-r-1" src="{% static 'public/ellipse-82@2x.png' %}" alt=""> Ouverture : Lun-Sam : 8h30-19h30</div>

        <div class="d-flex">
            <img class="m-1" src="{% static 'public/ellipse-12@2x.png' %}" alt="facebook">
            <img class="m-1" src="{% static 'public/ellipse-13@2x.png' %}" alt="twitter">
            <img class="m-1" src="{% static 'public/ellipse-14@2x.png' %}" alt="instagram">
            <img class="m-1" src="{% static 'public/ellipse-15@2x.png' %}" alt="youtube">
            <img  class="m-1" src="{% static 'public/ellipse-16@2x.png' %}" alt="linkln">
            <img class="m-1" src="{% static 'public/ellipse-17@2x.png' %}" alt="whatsapp">
            <img class="m-1" src="{% static 'public/ellipse-18@2x.png' %}" alt="chat">

        </div>
    </section>

    <section class="d-block " style="position: relative;">
        <div class="h-top container">
            <div class=" head row">
                <div class="col-5 head-l">
                    <a href="{% url 'acceuil' %}">
                    <img src="{% static 'public/ellipse-11@2x.png' %}" class="img-fluid rounded-top" alt="logo">
                    </a>
                </div>
                <div class="col-7 head-r d-flex justify-content-between align-items-center ">
                    <div class="d-xl-none" ></div>
                    <button class="btn btn-primary d-xl-none ml-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Menus</button>
                    <div class="menu d-xl-block d-none">
                        <a class="link" href="{% url 'acceuil' %}">Accueil</a>
                        <a class="link" href="{% url 'a-propos' %}">A propos</a>
                        <a class="link" href="">Service</a>
                        <a class="link" href="{% url 'realisation' %}">Realisation</a>
                        <a class="link" href="{% url 'contact' %}">Contact</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img style="height: 70vh;" src="{% static 'public/slide/rectangle-120@2x.png' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img style="height: 70vh;" src="{% static 'public/slide/rectangle-146@2x.png' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img style="height: 70vh;" src="{% static 'public/slide/rectangle-120@2x.png' %}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section>


    <section >
        <div class="container">
            <h3 class="reveal-l1 text-center " style="margin: 100px 0;">
                Conception d´Applications Web et Mobiles adaptés à vos besoins professionnels et performants
            </h3>

            <h5 class="text-center">
                En tant qu'entreprise spécialisée en développement Web et Mobile, Fulife Consulting offre un service avancé de création d'applications Web et Mobiles qui améliore la qualité de votre présence en ligne. Notre équipe de professionnels utilise les bonnes pratiques Agile et Scrum pour produire des applications Web qui sont orientées vers la croissance. Nous pouvons développer pour vous des Single Page Applications, des Progressive Web Applications, des portails web d'entreprise, des portails de vente en ligne, des applications web personnalisées, des sites Web à grande échelle, des outils web, ainsi que des solutions SaaS qui satisfont les besoins de votre entreprise et vos utilisateurs finaux
            </h5>
        </div>
    </section>

    <section style="margin-top: 100px;" >
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="mb-5">
                        Création d´Application web et Mobile Professionnel pour votre Entreprise
                    </h3>
                    <h5>
                        Nous concevons des applications pour les grandes entreprises qui requièrent une expertise approfondie, des recherches poussées, une approche innovante et des technologies de pointe. En d'autres termes, nous créons des applications de grande envergure pour les entreprises de grande taille. Les applications d’entreprise exigent des fonctionnalités plus avancées, une expertise en matière de normes et de processus de développement.
                    </h5>
                </div>
                <div class="col-lg-6 d-flex justify-content-center">
                    <img class="reveal-r1" style="width: 300px;" src="{% static 'public/rectangle-21@2x.png' %}" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="banner-devis mt-5" style="padding:100px 0;">
        <h1  class="text-center text-white">Demande de devis</h1>

    </section>
    <section class="insrc">
        <div class="container">


            <div class="card shadow p-lg-5 p-md-3 p-1 mb-5">
                <form action="" class="card-body" method="post">
                    <h2 class="my-5">Vos informations</h2>

                    <h4 class="my-5">Votre statut</h4>
                    <div class="row">
                        <div class="col-6 position-relative">
                            <div class="custom-checkbox d-flex align-items-center">
                                <input type="checkbox" >
                                <label for="">Une entreprise</label>
                            </div>
                        </div>
                        <div class="col-6 position-relative">
                            <div class="custom-checkbox d-flex align-items-center">
                                <input type="checkbox" >
                                <label for="">particulier</label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input">
                                <input type="text" placeholder="Nom et Prenom" name="Nom_client">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input">
                                <input type="text" placeholder="Nom Entreprise" name="Nom_entreprise">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input">
                                <input type="tel" placeholder="Telephone" name="telephone">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input">
                                <input type="email" placeholder="Email" name="email">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input">
                                <input type="text" placeholder="Addresse" name="addresses">
                            </div>
                        </div>
                    </div>

                    <h4 class="mt-5 mb-3">informations votre projet</h4>
                    <h6>Dans cette section, vous êtes invité à spécifier les critères que vous souhaitez voir pris en compte pour la création de votre site web.</h6>

                    <div class="row">
                        <div class="col-6 position-relative">
                            <div class="custom-checkbox d-flex align-items-center">
                                <input type="checkbox" >
                                <label for="">Une entreprise</label>
                            </div>
                        </div>
                        <div class="col-6 position-relative">
                            <div class="custom-checkbox d-flex align-items-center">
                                <input type="checkbox" >
                                <label for="">particulier</label>
                            </div>
                        </div>

                    </div>

                    <h4 class="mt-5 mb-3">Description de votre projet</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input">
                                <textarea name="decryption" id="" ></textarea>
                            </div>
                        </div>
                        <div class="col-md-6 position-relative">
                            <label for="">date debut</label>
                            <div class="input d-flex align-items-center">
                                <input type="date" name="date_debut">

                            </div>
                        </div>
                        <div class="col-md-6 position-relative">
                            <label for="">date Fin</label>
                            <div class="input d-flex align-items-center">
                                <input type="date" name="date_fin">

                            </div>
                        </div>
                    </div>

                    <h4 class="mt-5 mb-3">Perimetre Ation</h4>

                    <div class="row">
                        <div class="col-6 position-relative">
                            <div class="custom-checkbox d-flex align-items-center">
                                <input type="checkbox" >
                                <label for="">Local</label>
                            </div>
                        </div>
                        <div class="col-6 position-relative">
                            <div class="custom-checkbox d-flex align-items-center">
                                <input type="checkbox" >
                                <label for="">Internationnal</label>
                            </div>
                        </div>

                    </div>

                    <h4 class="mt-5 mb-3">Sites qui présentent des similarités avec ce que vous souhaitez</h4>

                    <div class="row">
                        <div class="col-6 position-relative">
                            <div class="input">
                                <input type="text" placeholder="App 1" name="app1">
                            </div>
                        </div>
                        <div class="col-6 position-relative">
                            <div class="input">
                                <input type="text" placeholder="App 2" name="app2">
                            </div>
                        </div>

                    </div>




                    <div class="col-md-12 position-relative mt-5">
                        <div class="custom-checkbox d-flex align-items-center">
                            <input class="btn btn-lg btn-primary"  type="submit" value="envoyer" >

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="">
        <div class="container">


            <img class="my-5" style="width: 100%;" src="{% static 'public/rectangle-20@2x.png' %}" alt="">
        </div>
    </section>


    <section class="pre-ft mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div style="border: none;" class="reveal-t2 card shadow">
                        <div class="card-body">
                            <div class="d-flex justify-content-center"><img src="{% static 'public/ellipse-22@2x.png' %}" alt=""></div>
                            <h3  class="mb-4">Présente ton activité</h3>
                            <p>Petite ou grande galaxie, expose ton univers, ton histoire et tes qualifications au grand public tout en démontrant ton savoir-faire</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div style="border: none;" class="reveal-t1 card shadow">
                        <div class="card-body">
                            <div class="d-flex justify-content-center"><img src="{% static 'public/ellipse-23@2x.png' %}" alt=""></div>
                            <h3 class="mb-4">Valorise tes prestations</h3>
                            <p>Tu possèdes une expertise hors pair : mets-la en lumière ! Sois fier de tes compétences et mets en avant tes services, tes tarifs et tes zones d’intervention sur le web.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div style="border: none;" class="reveal-t2 card shadow">
                        <div class="card-body">
                            <div class="d-flex justify-content-center"><img src="{% static 'public/ellipse-24@2x.png' %}" alt=""></div>
                            <h3 class="mb-4" >Sois joignable facilement</h3>
                            <p>Tes clients ont besoin de toi ? Choisis quand et comment tu souhaites être contacté. Coordonnées téléphoniques, horaires d’ouverture et formulaire de contact bien à jour pour faciliter ton activité.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="footer mt-5" style="background-color: #b1ecf5!important;padding: 0;margin: 0;">

        <div class="container" style="z-index: 2;">
            <div class="row">
                <div class="col-lg-4 col-md-6 mt-4">
                    <h2 class="reveal text-center mb-4 text-light">
                        A propos de nous
                    </h2>
                    <h5>
                        Fulife Consulting Sarl est une société de conseil et d’ingenieire informatique. Notre approche est d’être plus proche de nos clients, leur apporter toute notre expertise, notre savoir , notre savoir faire et notre savoir être pour répondre aux besoins de ces dernniers.
                    </h5>
                    <div class="d-flex justify-content-center" style="width: 100%;">
                        <a href="{% url 'acceuil' %}">
                        <img src="{% static 'public/ellipse-11@2x.png' %}" alt="logo">
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4">
                    <h2 class="text-center text-light mb-4">
                        Services
                    </h2>

                    <div>
                        <a href="{% url 'dev-web-mobile' %}" class="link-f">Developpement Web et Mobile</a>
                        <a href="{% url 'reseau&administrtion' %}" class="link-f">Reseau Informatique</a>
                        <a href="" class="link-f">Administration systeme</a>
                        <a href="" class="link-f">Hebergement Web</a>
                        <a href="" class="link-f">Marketing Digitale</a>
                        <a href="" class="link-f">Conseils et formation</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4">
                    <h3 class="text-center mb-4">

                    </h3>
                    <p style="font-size: 1.3rem;">Addresse: Rue Bebey Elame, Akwa. Douala</p>
                    <p style="font-size: 1.3rem;">Phone: (+237) 676 69 59 77 / 694 00 36 07</p>
                    <p style="font-size: 1.3rem;">Email: info@fulife-consulting.cm</p>
                    <div class="d-flex justify-content-center">
                        <div class="d-flex flex-wrap logo-ft">
                            <img src="{% static 'public/ellipse-12@2x.png' %}" alt="facebook">
                            <img src="{% static 'public/ellipse-13@2x.png' %}" alt="twitter">
                            <img src="{% static 'public/ellipse-14@2x.png' %}" alt="instagram">
                            <img src="{% static 'public/ellipse-15@2x.png' %}" alt="youtube">
                            <img src="{% static 'public/ellipse-16@2x.png' %}" alt="link">
                            <img src="{% static 'public/ellipse-17@2x.png' %}" alt="instagram">
                            <img src="{% static 'public/ellipse-18@2x.png' %}" alt="chat">
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <section class="py-3">
        <div class="container text-center">
            Copyright © Fulife Consulting Sarl 2020 - All Right Reserved. Designed and Developed by Fulife Consulting Sarl
        </div>
    </section>

    <!-- menu responsive -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
          <h5 id="offcanvasRightLabel">Menus</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">

            <div class="phone-cont mt-5">
                <a class="link-men" href="">Accueil</a>
                <a class="link-men" href="">A propos</a>
                <a class="link-men" href="">Service</a>
                <a class="link-men" href="">Realisation</a>
                <a class="link-men" href="">Contact</a>
            </div>


        </div>
    </div>
   <!-- script -->
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/reveal.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/reveal-custom.js' %}"></script>

    <!--
   <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

   <script src="./assets/bootstrap/js/scrollreveal.min.js"></script>
   <script src="./assets/bootstrap/js/reveal-custom.js"></script>
   <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
   <script src="./assets/bootstrap/js/bootstrap.bundle.min.js"></script>
   -->


</body>
</html>